*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5;
}
.offcanvas{
    background-image: url(../Multimedia/nav2.png);
}
.logoWeb1{
    height: 80px;
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
}
.logoWeb{
    height: 80px;
    width: 100px;
}
table{
    color: #000000;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../Multimedia/fondo5.png);
    

}
.lmarcas{
    height: 15%;
    width: 15%;
    position: relative;
    top: 45%;
}


.lmarcas2{
    height: 15%;
    width: 15%;
    position: relative;
    top: 45%;
    padding-bottom: 40px;
    }


.imProduct{
    width: 150px;
    height: 140px;
    display: flex;
    align-items: stretch;
    }

.title{
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    color:#52796f;
    margin-bottom: 20px;
}
header{
    position: sticky;
    top: 0px;
    z-index: 3;
}
.navegador{
        background-image: url(../Multimedia/nav2.png);
        background-repeat: repeat;
        
}
.justify-content-center{
    align-items: center;
}
.txtNav a:hover{
    color: rgb(4, 0, 252);
    
}

.txtNav:hover{
    font-size: 120%;
}

/* .navegador li{
    display: inline-block;
    padding: 0 10px 20px;
} */
.subtitle{
    color:#354f52;
    text-align: center;
    font-size: 180%;
}

h3{
    color:#354f52;
    text-align: center;
    font-size: 120%;
}

.descript{
    color:#354f52;
    font-size: 120%;
    
}

.price{
    font-size: 120%;
}

.producto{
    background-image: url(../Multimedia/fondo5.png);
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    margin: 10px 5px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    border-bottom: solid 5px black;
    height: 320px;
    width: 30%;
}

.producto:hover{
    transform: scale(1.1,1.1);
    transition: .3s;
}

.prTab{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 10px 20px 0px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 20px;
}

.prTab2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 10px 20px 0px;
    padding: 10px;
    border: solid 5px black;
    width: 98%;
    height: 100%;
}
.tabMarcas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 20px 0 20px 0;
    /* padding: 10px; */
}

.formContact{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 50px 50px;
    padding: 50px;
    border: solid 5px black;
    border-radius: 10px;
}

.tablaHombre{
    display: flex;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    padding: 50px;
    border: solid 5px black;
    border-radius: 10px;
}

.mainHombre{
    display: flex;
    justify-content: center;
}

footer{
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    color: #52796f;
    background-image: url(../Multimedia/nav2.png);
    background-repeat: repeat;
}

.publicidad{
    display: flex;
    align-items: center;
    justify-content: center;   
}

a{
    color:#cad2c5;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
}

.parrafo{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size:  20px;
}

.mapa{
    display: flex;
    justify-content: center;
    margin: 30px;

}

.pSelec{
        text-align: center;
        letter-spacing: normal;
        word-spacing: normal;
        color:#52796f;
        margin-top: 50px;
        font-size: 140%;
}

.imgHombre{
    display: flex;
    flex-direction: row;
    justify-content:center;

}



.txtFoot{
    font-size: 100%;
    text-decoration: none;
    color: white;
}

.txtNav{
    font-size: 100%;
    text-decoration: none;
    color: white

}
.txtNav :hover{
    transform: scale(2,1);
}

.categorias{
    color:#354f52;
    text-align:start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 5px;
    
}

.navbar-toggler{
    margin-right: 15px;
}

.secProductos{
    display: flex;
    flex-direction: row;
}
.lorem{
visibility: hidden;
}


/* MEDIA */
@media only screen and (max-width: 1024px){


    .lmarcas2{
        padding-bottom: 20px;
    }
    
}    

@media only screen and (max-width: 991px){
    

    .prTab{
        margin: 20px 10px 20px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 98%;
        height: 100%;
    }

    .producto{
        width: 30%;
        height: 25%;
    }

    .lmarcas2{
        padding-bottom: 10px;
    }
}
@media only screen and (max-width:768px){
    .descript{
        font-size: 80%;
    }
    .price{
        font-size: 80%;
    }
    .prTab{
        display: flex;
        flex-wrap: wrap;
    }
    .secProductos{
        flex-wrap: wrap;
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    /* .none{
        display: none;
    } */
    }
    



@media only screen and (max-width:579px){
    .prTab{
        flex-direction: column;
    }
    .formis{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: baseline;
    }
    .producto {
        width: 100%;
        height: 25%;
    }
    .imgHombre{
        display: flex;
        flex-direction: column;
    }
}


