.imgMain {
  justify-content: stretch;
  width: 100%;
  height: 85%; }

.imgMain {
  justify-content: stretch;
  width: 100%;
  height: 85%; }

.body__sNosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.formContact {
  display: flex;
  flex-direction: column; }
